// variables
$bgColor: #101013;
$textColor: #989697;
$borderBottom: 1px solid #252429;
$mainColor: #1C42FF;

// mixin
@mixin main-content {
  width: 1280px;
  margin: auto;
}

@mixin flex-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-0 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

// class
.main-content {
  @include main-content;
}

.flex-center-center {
  @include flex-center-center;
}

.flex-center {
  @include flex-center;
}

.flex-center-sb {
  @include flex-center-sb;
}

.flex-start {
  @include flex-start;
}

.flex-start-center {
  @include flex-start;
  justify-content: center
}

.flex-end {
  @include flex-end;
}

.flex-end-center {
  @include flex-end;
  justify-content: center
}

.flex-end-sb {
  @include flex-end;
  justify-content: space-between
}

.shade {
  @include absolute-0;
  background: rgba($color: $bgColor, $alpha: .9);
  z-index: 1;
}

.flex-column {
  flex-direction: column;
}

.btn {
  &:hover {
    background: #375CFF !important;
  }
}

.n-modal-mask {
  backdrop-filter: blur(5px) !important;
}
.n-dialog.n-modal {
  width: 500px;
}

.n-tabs .n-tab-pane {
  color: rgba(133, 141, 153, 0) !important;
}

.n-tabs-pad {
  display: none !important;
}

.form-input {
  margin-top: 2px;
  height: 40px;
  background: #17171A;
  border: 1px solid rgba(133, 141, 153, 0.1);
  border-radius: 10px;
  --n-border-hover: none !important;
  --n-border-active: 1px solid #375CFF !important;
  --n-border-focus: 1px solid #375CFF !important;
  --n-box-shadow-active: none !important;
  --n-box-shadow-focus: none !important;
  --n-color-focus: none !important;
  --n-height: 38px !important;
  transition: all .01s !important;
  &.popover-input-item {
    border-radius: 6px;
  }
}

.form-textarea {
  height: auto !important;
}

.form-select {
  .n-base-selection {
    background: #17171A;
    border: 1px solid rgba(133, 141, 153, 0.1);
    border-radius: 10px;
    margin-top: 2px;
    height: 40px;
    --n-border-hover: none !important;
    --n-border-active: 1px solid #375CFF !important;
    --n-border-focus: 1px solid #375CFF !important;
    --n-box-shadow-active: none !important;
    --n-box-shadow-focus: none !important;
    --n-color-focus: none !important;
    --n-height: 40px !important;
    --n-color: #17171A !important;
  }
}

.input-group-select {
  .n-base-selection {
    --n-border-hover: none !important;
    --n-border-active: none !important;
    --n-border-focus: none !important;
    --n-box-shadow-active: none !important;
    --n-box-shadow-focus: none !important;
    --n-color-focus: none !important;
    --n-color: #0A0A0C !important;
  }
}

.n-base-selection {
  --n-border-hover: none !important;
  --n-border-active: 1px solid #375CFF !important;
  --n-border-focus: none !important;
  --n-box-shadow-active: none !important;
  --n-box-shadow-focus: none !important;
  --n-color-focus: none !important;
  --n-color: #0A0A0C !important;
}

.n-card__content {
  padding: 20px !important;
  padding-top: 0 !important;
}

.n-form-item-feedback-wrapper {
  min-height: 16px !important;
}

.form {
  box-sizing: border-box;
}

.form-btns {
  margin-top: 8px;
  .btn-item {
    flex: 1;
    height: 50px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    background: rgba(133, 141, 153, 0.2);
    color: #858D99;
    cursor: not-allowed;
    &.btn-item-activated {
      background: #375CFF;
      color: #FFFFFF;
      cursor: pointer;
    }
  }
}

.custom-card {
  --n-padding-top: 20px !important;
  --n-padding-bottom: 20px !important;
  --n-padding-left: 20px !important;
  --n-padding-right: 20px !important;
  .n-card-header {
    padding: 20px !important;
  }
  .n-card__content {
    padding: 0 !important;
    padding-bottom: 20px !important;
  }
}

.right-menu-popconfirm {
  .n-button {
    --n-text-color-hover: #fff !important;
    --n-text-color: #fff !important;
    --n-text-color-pressed: #fff !important;
    --n-text-color-focus: #fff !important;
    --n-text-color-disabled: #fff !important;
    --n-color-hover: #4B6CFF !important;
    --n-color-pressed: #375CFF !important;
    --n-color-focus: #375CFF !important;
    --n-border-hover: 1px solid #375CFF !important;
    --n-border-pressed: 1px solid #375CFF !important;
    --n-border-focus: 1px solid #375CFF !important;
  }
}

.n-tabs-wrapper {
  background: #0A0A0C !important;
  border-radius: 10px;
}

.n-tabs .n-tabs-tab-wrapper {
  // width: 140px !important;
}

.n-tabs-tab__label {
  width: 100%;
  white-space: noworp;
  overflow: hidden;
  text-overflow: ellipsis;
}

.n-tabs-tab-pad {
  display: none !important;
}

.n-tabs .n-tabs-tab {
  transition: none !important;
}

.n-tabs .n-tabs-nav.n-tabs-nav--card-type .n-tabs-tab {
  background: #2C2D34;
  border-radius: 0px 0px 0px 0px !important;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 12px;
    left: 0;
    margin: auto;
    background: rgba(133, 141, 153, 0.2);
  }
}

.n-tabs .n-tabs-nav.n-tabs-nav--card-type .n-tabs-tab.n-tabs-tab--active {
  border-radius: 10px 10px 0px 0px !important;
  background: #0A0A0C;
  position: relative;
  right: -1px;
  z-index: 9;
  &::after {
    display: none !important;
  }
}

.n-tabs .n-tabs-nav-scroll-wrapper {
  background: #15141B;
}

.n-tabs .n-tabs-nav-scroll-content {
  max-width: calc(100vw - 248px) !important;
}

.v-x-scroll {
  width: 50%;
  border-radius: 0px 10px 0px 0px;
}

.jv-container.jv-dark {
  background: rgba(133, 141, 153, 0) !important;
}

.jv-container .jv-code {
  padding: 15px !important;
}

.jv-container .jv-more:after {
  background: linear-gradient(to bottom, rgba(13, 13, 14, .3),rgba(13, 13, 14, 1));
}

.jv-container .jv-more:hover:after {
  background: linear-gradient(to bottom, rgba(21, 20, 27, .3),rgba(21, 20, 27, 1));
}

.n-base-select-menu.n-select-menu {
  background: #15141B !important;
  border: 1px solid rgba(133, 141, 153, 0.15) !important;
  box-shadow: 0px 12px 30px rgba(10, 10, 12, 0.3) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 10px !important;
}

.n-base-select-menu .n-base-select-option.n-base-select-option--pending::before {
  background: rgba(55, 92, 255, 0.15) !important;
  border-radius: 6px !important;
}

.n-base-select-menu .n-base-select-option.n-base-select-option--selected {
  color: #375CFF !important;
}

.n-tabs .n-tabs-nav.n-tabs-nav--card-type .n-tabs-tab.n-tabs-tab--active {
  color: #ffffff !important;
}

.jv-container.boxed {
  border: 1px solid rgba(133, 141, 153, 0.2) !important;
  background: #0A0A0C !important;
  border-radius: 9px !important;
}

.result-params .jv-container.boxed {
  border: none !important;
}

.jv-more {
  display: none !important;
}

.hljs {
  padding: 15px !important;
  box-sizing: border-box;
}

.n-button {
  --n-border: none !important;
  --n-border-hover: none !important;
  --n-border-pressed: none !important;
  --n-border-focus: none !important;
}

.n-spin-content {
  border: none !important;
}

.modal-style {
  background: #23242A !important;
  border-radius: 10px;
  width: 564px;
  border: 1px solid rgba(133, 141, 153, 0.1);
}

.n-base-select-menu .n-base-select-menu__action {
  padding: 5px !important;
  border: none !important;
}

.n-date-panel .n-date-panel-dates .n-date-panel-date.n-date-panel-date--selected {
  color: #FFFFFF !important;
}

.n-date-panel .n-date-panel-actions .n-button .n-button__content {
  color: #FFFFFF !important;
}

.n-date-panel .n-date-panel-actions .n-button:not(.n-button--disabled):hover {
  background-color: #4B6CFF !important;
}

.search-modal {
  position: relative;
  .n-card-header {
    position: relative;
    z-index: 2;
  }
  .form {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: -69px;
      left: 0;
      width: 100%;
      height: 119px;
      background: #2D2E35;
      display: block;
      border-radius: 10px 10px 0 0;
    }
  }
}

.modal-content {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}